<!DOCTYPE html>
<html>
	<head>
		<title>Webterm</title>
		<link rel="stylesheet" href="static/css/style.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="window">
			<div class="titlebar" style="-webkit-app-region: drag">
				<div class="titlebar-title">Webterm</div>
				<div class="window-minimize" style="-webkit-app-region: no-drag"><i class="fa fa-minus"></i></div>
				<div class="window-maximize" style="-webkit-app-region: no-drag"><i class="fa fa-square-o"></i></div>
				<div class="window-close" style="-webkit-app-region: no-drag"><i class="fa fa-times"></i></div>
			</div>
			<div class="main-display">
				<div id="stdout"><input id="stdin" size="1"/></div>
			</div>
		</div>

		<script id="promptTemplate" type="text/template">
			<div class="prompt">
				<span class="cwd"><%= cwd %></span>
				<span class="prompt-separator"><%= separator %></span>
				<div class="prompt-decoration"></div>
			</div>
		</script>
		<script id="outputTemplate" type="text/template">
		  <div class="output-line"><%= text %></div>
		</script>
		<script id="errorTemplate" type="text/template">
		  <div class="output-line error-output"><%= text %></div>
		</script>

		<script src="static/js/main.js"></script>
		<script src="static/js/windowControls.js"></script>
	</body>
</html>
