<div class="line">
	<pre class="line-body"><%
		var i;
		var innerText;
		var attributes = context.attributes;
		var text = context.text;
		var attrKeys = _.keys(attributes);
		function printLineSegment(start, end, attributes) {
			innerText = _.escape(text.slice(start, end));
			classes = _.reduce(attributes, function (accumulator, val, key) {
				if (val) {
					accumulator += "attr-" + key + "-" + val + " ";
				}
			}) || "";
			classes = classes.trim();

			print("<span class='line-part " + classes + "'>" + innerText + "</span>");
		}

		for (i = 0; i < attrKeys.length - 1; i++) {
			var nextKey = attrKeys[i + 1];
			var currentAttribute = attributes[attrKeys[i]];
			printLineSegment(attrKeys[i], nextKey, currentAttribute);
		}

		printLineSegment(attrKeys[attrKeys.length - 1], undefined, attributes[attrKeys.length - 1]);
	%></pre>
</div>
